* {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

.slide-wrapper {
  overflow: hidden; /* Tirando assim a barra horizntal */
}

.slide {
  display: flex;
}

.slide li {
  flex-shrink: 0; /* Para que ele não diminua para caber na tela, gerando a barra horizontal */
  width: 80vw;
  max-width: 800px;
  margin: 0 20px;

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0, 2px, 4px, rgba(0, 0, 0, 0.4);
  opacity: .8;
  transform: scale(.8); /* Assim o slide ficando menor*/
  transition: .4s;
}

/* Animação do slide */

/* .slide {
  transform: translate3d()
} */


.slide li.active{
  opacity: 1;
  transform: scale(1); /* assim o slide fica na posição normal*/
}

/* por performace, dizemos o que irá mudar */
.slide:hover {
  will-change:transition;
}


/*  estilização da navegação por imagem */

[data-control="slide"] {
  display: flex;
  justify-content: center;
  margin-top:20px
}


[data-control="slide"] li a {
  display: block;
  width:25px;
  height: 25px;
  background-color: #FB5;
  border-radius:50%;
  overflow: hidden; /* para que o texto não apareã*/
  text-indent: -9999px; /* para mover o texto e ele sair da tela*/
  margin: 5px;
}

[data-control="slide"] li.active a, [data-control="slide"] li a:hover{
  background-color: #E54;
}


ul.custom-controls {
  display: flex; /* para colcoar um ao lado do outro */
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 20px;
  flex-wrap: wrap; /* Caso ele ultrapasse o container ele quebre */
}

.custom-controls li{
  opacity: 0.8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* para aparecer o ciuculo tem que colocar overflow hiden */
  margin: 2px;
  box-shadow: 0, 2px, 4px, rgba(0, 0, 0, .5);
  transition: 0.3s;
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1)
}


.arrow-nav {
  display: flex;
  justify-content: space-around;
  margin:  20px 0;
}

.arrow-nav button{
  cursor: pointer;
  border: none;
  border-radius: 4px;
  color: white;
  width: 40px;
  height: 40px;
  background: #FB5 url('/img/arrow.svg') center center no-repeat
}

.arrow-nav button.prev {
  transform: rotate(180deg); /* Roracionado a imagem */
}